$accent: #fe3e57;
$default: #7b7b7b;;
$title2: #1f2044;;
$bg: #f9f9f9;
$btn-bg: #a3bbc8;
$num: #243f4d;

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%sans-400 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%sans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}