@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
  padding: 50px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    padding-left: 35px;
  }

  &__list-link {
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    @extend %rubik-500;
  }

}

.user-nav {
  display: flex;

  &__link {
    position: relative;
  }

  &__link+.user-nav__link {
    margin-left: 55px;
  }

  &__link-bg {
    position: relative;
    margin-right: 20px;
  }

  &__link-bg::before {
    content: "";
    position: absolute;
    background-image: url(../images/bg/search-bg.png);
    width: 51px;
    height: 51px;
    left: -18px;
    top: -18px;
  }

  &__link-bg::after {
    content: "";
    position: absolute;
    background-image: url(../images/bg/ellipse-bg.png);
    width: 51px;
    height: 51px;
    left: 242px;
    top: -16px;
  }

  &__link-bgtwo {
    position: relative;
    padding-left: 20px;
    padding-right: 15px;
  }

  &__link-bgtwo::before {
    content: "";
    position: absolute;
    background-image: url(../images/bg/heart-bg.png);
    width: 180px;
    height: 51px;
    left: -187px;
    top: -18px;
    z-index: -10;
  }

  &__link-bgtwo::after {
    content: "";
    position: absolute;
    background-image: url(../images/bg/cart-bg.png);
    width: 2px;
    height: 34px;
    left: -98px;
    top: -10px;
  }

  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    top: -9px;
    right: -14px;
    font-size: 12px;
    line-height: 20px;
    color: $num;
    text-align: center;

  }
}



.footer-top {
  padding: 70px 0;
  border-bottom: 1px solid #a3bbc8;
  display: flex;

  &__contact {
    width: 240px;
    margin-right: 60px;
  }

  &__nav {
    width: 130px;
    margin-right: 160px;
  }

  &__account {
    width: 110px;
    margin-right: 197px;
  }

  &__item-form {
    max-width: 480px;
  }

  &__logo {
    display: block;
    margin-bottom: 25px;
  }

  &__adress,
  &__email,
  &__phone {
    margin-bottom: 14px;
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: $default;
    @extend %rubik-400;
  }

  &__social-list {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }

  &__social-item+.footer-top__social-item {
    padding-left: 18px;
  }

  &__title {
    @extend %sans-700;
    color: $title2;
    font-size: 22px;
    line-height: 50px;
    margin-bottom: 4px;
    text-transform: uppercase;
  }

  &__link {
    margin-bottom: 12px;
    display: block;
    font-size: 14px;
    line-height: 24px;
    @extend %rubik-400;
    color: $default;
  }

  &__text {
    max-width: 270px;
    font-size: 14px;
    line-height: 24px;
    @extend %rubik-400;
    color: $default;
    margin-bottom: 30px;
  }

  &__form-input {
    background-color: #fef7f0;
    max-width: 170px;
    width: 100%;
    border: none;
    padding: 12px 10px 12px 15px;

    &::placeholder {
      color: #234969;
      font-size: 12px;
      @extend %sans-400;
    }
  }

  &__form-btn {
    border: none;
    cursor: pointer;
    padding: 10px 10px 10px 12px;
    color: #fff;
    background-color: $btn-bg;
    @extend %sans-400;
  }
}

.footer-bottom {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  @extend %rubik-400;
  color: $default;

  &__list {
    display: flex;
  }

  &__link {
    margin-left: 13px;
    color: $default;

    span {
      margin-left: 13px;
    }
  }
}



.top-slider {
  // background-image: url(../images/top-slider-bg.png);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-color: $bg;
  // padding: 65px 0 45px;

  &__inner {
    background-color: #fcd7b6;
  }

  &__content {
    padding: 200px 0 280px;
    position: relative;
  }

  &__content::before {
    content: '';
    position: absolute;
    background-image: url(../images/top-slider-bg.png);
    width: 635px;
    height: 635px;
    top: 80px;
    right: -800px;
  }


  &__item {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    max-width: 670px;
    font-size: 72px;
    line-height: 70px;
    color: $num;
    @extend %rubik-500;
    margin-bottom: 40px;
  }

  &__text {
    max-width: 370px;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    @extend %rubik-400;
  }

  &__link {
    border: none;
    cursor: pointer;
    padding: 20px 100px 18px 25px;
    color: #fff;
    background-color: $btn-bg;
    @extend %rubik-500;
    position: relative;
  }

  &__link::before {
    content: '';
    position: absolute;
    background-image: url(../images/arrow.png);
    width: 22px;
    height: 9px;
    top: 25px;
    right: 20px;
  }

  &__img {
    max-height: 270px;
    max-width: 640px;
    z-index: 10;
  }

  .slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 45px;

    li {
      padding: 0 5px;
      line-height: 0;

      button {
        padding: 0;
        font-size: 11px;
        line-height: 9px;
        color: $num;
        @extend %rubik-500;
        background-color: #fce3cb;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        border: none;
        position: relative;
      }

      &.slick-active {
        button {
          background-color: #fff;
        }
      }
    }
  }
}






@import 'media';